<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员信息编辑</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div>
        <label>姓名：</label>
        <input type="text" name="name" value="{{ staff.name }}" required>
    </div>
    <br>

    <div>
        <label>性别：</label>
        <select name="gender" required>
            <option value="">请选择性别</option>
            {% for key, show_text in gender_list %}
                <option value="{{ key }}" {% if staff.gender == key %}selected{% endif %}>
                    {{ show_text }}
                </option>
            {% endfor %}
        </select>
    </div>
    <br>

    <div>
        <label>出生日期：</label>
        <input type="date" name="birth" value="{{ staff.birth|date:'Y-m-d' }}" required>
    </div>
    <br>

    <div>
        <label>身份证号：</label>
        <input type="text" name="id_number" maxlength="18" value="{{ staff.id_number}}" required>
    </div>
    <br>

    <div>
        <label>人员类型：</label>
        <select name="staff_type" required>
            <option value="">请选择人员类型</option>
            {% for key, show_text in staff_type_list %}
                <option value="{{ key }}" {% if staff.staff_type == key %}selected{% endif %}>
                    {{ show_text }}
                </option>
            {% endfor %}
        </select>
    </div>
    <br>

    <div>
        <label>在职状态：</label>
        <select name="work_status" required>
            <option value="">请选择在职状态</option>
            {% for key, show_text in work_status_list %}
                <option value="{{ key }}" {% if staff.work_status == key %}selected{% endif %}>
                    {{ show_text }}
                </option>
            {% endfor %}
        </select>
    </div>
    <br>

    <div>
        <label>所属科室：</label>
        <select name="work_area" required>
            <option value="">请选择科室</option>
            {% for key, show_text in area_choice_list %}
                <option value="{{ key }}" {% if staff.work_area == key %}selected{% endif %}>
                    {{ show_text }}
                </option>
            {% endfor %}
        </select>
    </div>
    <br>

    <div>
        <input type="submit" value="提交保存">
        <a href="{% url 'staff_list' %}">返回员工列表</a>
    </div>
</form>
</body>
</html>
